.cast-card{
    width: 90%;
    position: relative;
    padding: 5px;

}
.cast-card a{
    position: relative;
    text-decoration: none !important;
    color: white;
    z-index: 999;
}
.cast-card a:hover{
    text-decoration: none !important;
    color: white;
}
.cast-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border-bottom-right-radius: 70px;
    padding: 2px;
    background: linear-gradient(145deg, #9DFE00 -10.9%, #14D9E6 97.14%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.cast-card img{
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 360px) and (max-width: 767px){
    .cast-card{
        min-height: 250px;
    }
    .cast-card img{
        width: 100%;
    }
}