.cast-details-container{
    position: relative;
    z-index: 99;
    color: white;
    overflow: hidden;
}

.cast-details-bg-1{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: url("../../Media asset/Cast Details/Background.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cast-list-bg-2{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: url("../../Media asset/Cast Details/Star.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.cast-name{
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #14D9e5;
    padding-bottom: 32px;
}
.custom-border{
    position: relative;
    color: white;
    z-index: 999;
    background-color: #1e1e1e42;;
}
.custom-border::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(310deg, #9DFE00 -10.9%, #14D9E6 97.14%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.right-custom-border{
    position: relative;
}
.right-custom-border::before{
    content: '';
    height: 50%; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 33%;
    background-color: #9DFE00;
}
.cast-image{
    text-align: center;
    padding: 50px;
    height: 400px;
    width: 400px;
}
.cast-image img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.cast-info-style{
    font-size: 20px;
    font-weight: bold;
}
.icon-image{
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
}
.cast-details-container ul{
    position: relative;
    z-index: 999;
    height: 417px;
    overflow-y: scroll;
}

/*--------------------------
code for mobile
-------------------------- */
@media screen and (min-width: 360px) and (max-width: 767px){
    .cast-name{
        font-size: 24px;
    }
    .cast-image{
        text-align: center;
        padding: 30px;
        height: 240px;
        width: 240px;
        margin-bottom: 16px;
    }
    .cast-image img{
        width: 180px;
        height: 180px;
        object-fit: contain;
    }
    .right-custom-border::before{
        display: none;
    }
    .small-font{
        font-size: 8px;
    }
    .icon-image{
        width: 20px;
        height: 20px;
    }
    .info-small-box{
        height: 150px;
    }
    .cast-info-style{
        font-size: 16px;
        font-weight: bold;
    }
    .cast-details-container ul{
        height: 105px;
    }
}