.App {
  /* text-align: center; */
  background-color: #191D29;
}
.font-face-TT-regular {
  font-family: "TTTravels-Regular";
}
.font-face-TT-bold {
  font-family: "TTTravels-Bold";
}
.font-face-TT-bold-italic {
  font-family: "TTTravels-BoldItalic";
}
.custom-color-1{
  color: #14d9e5;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
